{"filter":false,"title":".gitignore","tooltip":"/sample_app/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":15},"end":{"row":11,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1685665734526,"hash":"b4168e0cc97001add020dad0be89eaaae229ac4c"}